<div class="container">
  <a href="/profile/1"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
  <h1>Edit Profile</h1>
  <br>
  <img src="/images/magic_casper.png">
  <a href="#" class="btn btn-danger"><i class="fa fa-random" aria-hidden="true"></i></a>
  <form action="/profile/1" class="put-form">
    <div class="form-group">
      <label for="about">About Hello Kitty</label>
      <input type="text" name="about" class="form-control" value="I am a cat going to school.">
    </div>
    <div class="form-group">
      <label for="work">Current Work</label>
      <input type="text" name="work" class="form-control">
    </div>
    <div class="form-group">
      <label for="school">School</label>
      <input type="text" name="school" class="form-control" value="Cat University">
    </div>
    <div class="form-group">
      <label for="interests">Interests</label>
      <input type="text" name="interests" class="form-control" value="Eating, Reading">
    </div>
    <input type="submit" class="btn btn-danger" value="Save Changes">
  </form>
</div>
