<div class="container">
  <header>
    <a href="#" class="btn btn-danger"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
    <a href="/potentials" class="btn btn-secondary"><i class="fa fa-tint fa-2x" aria-hidden="true"></i></a>
    <a href="/chatroom/1" class="btn btn-secondary"><i class="fa fa-weixin fa-2x" aria-hidden="true"></i></a>
  </header>
</div>
<div class="container">
  <img src="/images/magic_casper.png">
  <a href="/profile/1/edit" class="btn btn-danger"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
  <p>
    <strong>Hello Kitty</strong>, 7
  </p>
  <p>
    Studies at Cat University
  </p>
  <hr>
  <p>
    I am a cat going to school.
  </p>
  <hr>
  <p>
    2 interests
  </p>
  <p class="btn btn-secondary">Eating</p>
  <p class="btn btn-secondary">Reading</p>
  <hr>
  <a href="/profile/1/settings">Settings</a>
</div>
