<div class="container">
  <a href="/profile"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
  <h1>Settings</h1>
  <br>
  <form action="/profile/settings" class="put-form">
    <div class="form-group">
      <label for="interestedIn">Show Me </label>
      <select name="interestedIn">
        <option class="1" value="1">Cats</option>
        <option class="2" value="2">Dogs</option>
      </select>
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
  <br>
  <a href="/auth/logout" class="btn btn-secondary">Logout</a>
  <br>
  <a href="/" class="btn btn-secondary">Delete Account</a>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
  $(".<%=currentUser.interestedIn%>").attr("selected", "selected");
</script>
