<div class="container">
  <a href="/profile/1"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
  <h1>Settings</h1>
  <br>
  <form action="profile/1/settings" class="put-form">
    <div class="form-group">
      <label for="gender">Show Me </label>
      <select>
        <option name="gender" value="volvo">Cat</option>
        <option name="gender" value="saab">Dog</option>
      </select>
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
  <br>
  <a href="/auth/logout" class="btn btn-secondary">Logout</a>
  <br>
  <a href="/" class="btn btn-secondary">Delete Account</a>

</div>
