<div class="container">
  <div class="row nav-bar">
    <div class="col-xs-12 col-sm-4">
        <a href="/profile" class="nav-btn btn btn-secondary"><i class="fa fa-user-o fa-3x" aria-hidden="true"></i></a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="#" class="nav-tinder btn btn-danger">
        <img src="/images/logo-white.png">
      </a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="/chatroom" class="nav-btn btn btn-secondary"><p>...</p></a>
    </div>
  </div>
</div>
