<h1>It's a Match!</h1>
<h3>You and Doge have liked each other.</h3>

<div class="match d-inline-block">
  <img src="/images/doge.jpg" class="text-left">
  <img src="/images/magic_casper.png" class="text-left">
</div>

<a href="/chatroom/1/2" class="btn btn-danger">SEND A MESSAGE</a>
<br>
<a href="/potentials" class="btn btn-secondary">KEEP SWIPING</a>
