<div class="container">
  <a href="#"><img src="/images/doge.jpg"></a>
  <p>
    <strong>Doge</strong>, 10
  </p>
  <p>
    Works at H&R Block
  </p>
  <hr>
  <p>
    I am a dog that loves doing taxes
  </p>
  <hr>
  <p>
    1 interest
  </p>
  <p class="btn btn-secondary">Eating</p>
</div>

<div class="container">
  <a href="/potentials" class="btn btn-primary">
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
  </a>
  <a href="/potentials/match/1/2" class="btn btn-primary">
    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
  </a>
  <a href="/potentials/match/1/2" class="btn btn-primary">
    <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
  </a>
</div>
