<div class="container">
  <a href="/chatroom/1"><h1><i class="fa fa-angle-left" aria-hidden="true"></i> Doge</h1></a>
  <hr>

  <div class="container chatlog">
    <div class="message-me text-right">
      <p>
        Hey what's up
      </p>
      <p>
        <small>8 hr. ago</small>
      </p>
    </div>
    <div class="message-potential text-left">
      <p>
        Nothing much
      </p>
      <p>
        <small>Doge 6 hr. ago</small>
      </p>
    </div>
  </div>


  <hr>
  <form method="POST" action="/chatroom/1/2">
    <div class="form-group">
      <input type="text" name="content" class="form-control" placeholder="Send a message...">
    </div>
    <input type="submit" class="btn btn-danger" value='>'>
  </form>
</div>
